<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h3><%= @question.title %></h3>

<p>Description: <%= @question.description %></p>

<%= link_to 'Edit Question', edit_question_path(@question) %>

<h4>Answers:</h4>

<ul>
  <% @answers.each do |answer| %>
    <li><%= answer.description %></li>
  <% end %>
</ul>


<%= link_to 'Submit an answer', new_question_answer_path(@question) %>
